# Object files
*.o
*.so
*.obj
tests/*.o

# Executables
*.exe
*.out
openDBA
tests/costmatrix*
tests/stepmatrix*
tests/openDBA_test
tests/path*
tests/io_utils_test

# lib files
*.lib

# exp files
*.exp

# txt files
tests/*.txt
*.txt

# Test Fast5 Output Files
tests/*.fast5